- name: Install SCC Workload Protection Agent on Linux
  hosts: linux
  become: true
  gather_facts: false # Speed up execution
  
  vars:
    # these defaults can be overridden by Terraform
    scc_access_key: "" 
    collector_url: "ingest.eu-es.security-compliance-secure.cloud.ibm.com"
    api_url: "eu-es.security-compliance-secure.cloud.ibm.com"

  tasks:
    - name: Wait for connection
      wait_for_connection:
        timeout: 300

    - name: Install Kernel Headers (Debian/Ubuntu)
      apt:
        name: "linux-headers-{{ ansible_kernel }}"
        state: present
        update_cache: yes
      when: ansible_os_family == 'Debian'

    - name: Download and Run Sysdig Install Script
      shell: |
        curl -sL https://ibm.biz/install-sysdig-agent | bash -s -- -a {{ scc_access_key }} -c {{ collector_url }} --collector_port 6443 --secure true --additional_conf 'sysdig_api_endpoint: {{ api_url }}\nhost_scanner:\n  enabled: true\n  scan_on_start: true\nkspm_analyzer:\n  enabled: true'
      args:
        executable: /bin/bash